<%- include ("partials/header.ejs") %>
<main class="main">
<div class="list-container">
    <div class="header">
        <h2 class="list-header"><%= day %></h2>
        
    </div>
    <form method="post" action="/" id="new-task-form">
        <input class="new-task-input" name="task"  placeholder="Add new task" required/>
        <button  class="add-task-btn">+</button>
    </form>
    <ol class="task-list">
        <% if(locals.tasks) {
            tasks.forEach((task, i) => {%>
                <div class="task-container" id="<%=i%>">
                    <li class="tasks"><%= task %></li>
                    <div class="list-icons">
                        <a href="/<%=i%>" class="delete-btn"><i class="fa-solid fa-trash trash-icon"></i></a>
                       <a href="/edit/<%=i%>" class="edit-btn"><i class="fa-solid fa-pen-to-square "></i></a> 
                        </div>
                   
                    </div>
               
          
            <%});
        }%>

    </ol>
    <div class="footer"> 
        <form method="post" action="/delete">
            <button class="delete-all-btn">Delete All</button>
            </form>
      
        </div>
     
</div>
<img class="vector-image" src="/images/checklist.jpg"/>
</main>



<%- include ("partials/footer.ejs") %>